<div ng-init="aboutInit()" >
    <div class="whiteCanvas upperSpace">
        <div class="aboutLayaLogo"></div>
        <p class="aboutPara">We’re the second largest provider of health insurance in Ireland. We have just under 500,000 members. One thing in particular has helped us grow since we first appeared in 1997, we actually care. It’s in our name: looking after you always. It’s at the heart of everything we do. We’ll be honest with you and treat you properly. We want you to have cover that’s easy to understand and gives you genuine value for money.
 
				<br/><br/>We also want to give you things nobody else does. Like our worldwide network of top consultants and specialists. Closer to home, you can get immediate advice and support from our Nurseline which is confidential and available to our members 24 hours a day.

				 
				<br/><br/>Maybe you’re an employer who knows that healthy employees make for a better company. Our 
<a href="" onclick="window.open('http://www.layawellness.ie/#our-approach', '_system', 'location=yes');" style="color:blue;">Health and Wellness programme</a> was created with you in mind. Whether you’re an individual, a family or a business, our promise to you is the same. We will treat you properly, be open and push for innovation. And we will look after you always.</p>
    </div>
    
</div>

