<div ng-init="contactUsInit()" >
    <div class="whiteCanvas homeImgBtns"">
        <ul>
            <li><a href="tel:1890904077"><img src="images/callus.png" /></a></li>
            <li><a href="mailto:info@layahealthcare.ie"><img src="images/emailus.png" /></a></li>
        </ul>
        <div class="clear"></div>
        <!--<input  type="button" class="visitWebsiteBtnContactUs" value="VISIT WEBSITE">-->
        <div ng-click="openWebsite()" class="visitWebsiteBtn claimNextBtn">
            VISIT WEBSITE
            <div class="btnArrow"></div>
        </div>
        
        <div class="whiteSpace"></div>
    </div>
    

</div>