<div ng-init="homeInit()" >

    <div id="homeBtns" class="homeBtnOuter homeImgBtns">
        <ul>
            <li ng-click="submitClaim()"><a ><img src="images/home_submitBtn.png" /></a></li>
            <li ng-click="memberDetails()"><a ><img src="images/home_memberBtn.png" /></a></li>
            <li ng-click="reviewClaim()"><a ><img src="images/home_reviewBtn.png" /></a></li>
            <li ng-click="contactUs()"><img class="test" src="images/home_contactusBtn.png" /></li>
        </ul>
        <div class="clear"></div>
    </div>

    <div ng-click="openWebsite()" class="visitWebsiteBtn">
        VISIT WEBSITE
        <div class="btnArrow"></div>
    </div>
</div>