<div ng-init="loginInit()" class="loginContainer" ng-controller="loginController">

    <!-- laya logo -->  
    <div class="laya-logo"><img src="images/laya_logo.png"/></div>

    <div class="login-credentials-container">

        <!-- switch case for first text box of credentials -->
        <div class="first-credential" ng-switch="firstcredentialsFlag">

             <div ng-switch-when ="enterNewPin"> 
                <div class="pin-logo"></div>
                <input ng-show="platform!='Win32NT'" class="passwordType" type="tel" valid-number  placeholder="Enter New Pin" maxlength="4" ng-model="credentials.newPin"/>
                <input ng-show="platform=='Win32NT'" class="passwordType" type="password" valid-number  placeholder="Enter New Pin" maxlength="4" ng-model="credentials.newPin"/>
            </div>
            <!-- default case for mobile no text box -->
            <div ng-switch-default> 
                <div class="mobile-logo"></div>
                <input type="tel"  placeholder="Mobile No" maxlength="10" ng-model="credentials.mobileNo"/>
                    <!--<input type="tel"  placeholder="Mobile No" maxlength="13" ng-model="credentials.mobileNo"/>-->
            </div> 
        </div>

        <!-- separator between first and second text box -->
        <div class="separator"></div>

        <!-- switch case for second text box of credentials -->
        <div ng-switch="secondCredentialsFlag" class="second-credential">
            <!-- case for pin text box -->
            <!--<div ng-switch-when="pin"><div class="pin-logo"></div><input type="password" placeholder="Pin" ng-model="pin" /></div>-->

            <!-- case for confirm pin text box -->
            <div ng-switch-when="confirmPin">
                <div class="pin-logo"></div>
                <input ng-show="platform!='Win32NT'" class="passwordType" valid-number placeholder="Confirm Pin" type="tel" maxlength="4" ng-model="credentials.confirmPin" />
                <input ng-show="platform=='Win32NT'" class="passwordType" valid-number placeholder="Confirm Pin" type="password" maxlength="4" ng-model="credentials.confirmPin" />
            </div>

            <!-- case for member no -->
            <div ng-switch-when="memberNo"><div  class="member-logo"></div><input type="tel" valid-number maxlength="10" placeholder="Membership No" ng-model="credentials.memberNo" /></div>

            <!-- default case for pin text box -->
            <div ng-switch-default>
                <div class="pin-logo"></div>
                <input ng-show="platform!='Win32NT'" class="passwordType" valid-number placeholder="PIN" maxlength="4" type="tel" ng-model="credentials.pin"/>
                <input ng-show="platform=='Win32NT'" class="passwordType" valid-number placeholder="PIN" maxlength="4" type="password" ng-model="credentials.pin"/>
            </div>
        </div>
    </div>

    <div class="login-button-container">

        <!-- forgot pin container -->
        <div class="forgotten-pin-container">
            <div ng-click="loadForgotPin()" class="forgotten-pin">Forgotten Pin?</div>
        </div>

        <!-- switch case for different options like login, sign up,forgot pin --> 
        <div ng-switch="loginFlag">

            <div ng-switch-when="changePin">
                <input type="button" class="login-button" value="TEST"><img class="buttonArrow" src="images/arrow.png">
                <div class="login-link">Login here</div>
            </div>

            <div ng-switch-when="login">
                <input ng-click="validateLoginCredentials()" type="button" class="login-button" value="LOGIN"><img class="buttonArrow" src="images/arrow.png">
                <div ng-click="loadSignUp()" class="login-link">Don't have an account? Sign up here</div>
            </div>

            <div ng-switch-when="signUp">
                <input ng-click="validateSignUpCredentials()" type="button" class="login-button" value="SIGN UP"><img class="buttonArrow" src="images/arrow.png">
                <div ng-click="loadLogin()" class="login-link">Already have an account? Login here</div>
            </div>

            <div ng-switch-when="forgotPin">
                <input  ng-click="validateForgotPinCredentials()" type="button" class="login-button" value="FORGOT PIN"><img class="buttonArrow" src="images/arrow.png">
                <div ng-click="loadLogin()" class="login-link">Login here</div>
            </div>

            <div ng-switch-when="confirmPin">
                <input type="button" ng-click="validateChangePinCredentials()" class="login-button" value="CHANGE PIN"><img class="buttonArrow" src="images/arrow.png">
                <div ng-click="loadLogin()" class="login-link">Login here</div>
            </div>

            <div ng-switch-default>
                <input ng-click="validateLoginCredentials()" type="button" class="login-button" value="LOGIN"><img class="buttonArrow" src="images/arrow.png">
                <div ng-click="loadSignUp()" class="login-link">Don't have an account? Sign up here</div>
            </div>
            
            <!--trademark container-->
            <div class="trademark">&#169; {{copyrightYear}} Laya Healthcare</div>
        </div>        
    </div>
    
</div>