<!DOCTYPE html>
<html>
    <head>
        <title>Laya</title>
        <script src="cordova.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" /> 

        <!-- ------------CSS--------------------------- -->
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.css">
        <link rel="stylesheet" type="text/css" href="css/demo.css">
        <link rel="stylesheet" href="./css/jquery-ui.css">
        <!-- -----------END-CSS----------------- ------ -->
        
        <!-- ------------Library Files---------------- -->
        <script src="lib/angular.min.js"></script>   
        <script src="lib/angular-route.js"></script>  
        <script src="lib/angular-idle.js"></script>
        <script src="lib/feedhenry.js"></script>   
        <script src="lib/jquery-1.10.2.js"></script>  
        <script src="lib/jquery.maskedinput.js"></script>
        <script src="lib/jquery.autotab.js"></script>
        <script type="text/javascript" src="lib/jquery.collapsible.js"></script>
        <script src="lib/jquery.mmenu.min.all.js"></script>                  <!--library file for side menu (slider)-->
        <script src="lib/drum.js"></script>   
        <script src="lib/hammer.min.js"></script>   
        <script src="lib/hammer.fakemultitouch.js"></script>
        <script src="lib/intlTelInput.min.js"></script>    
        <script src="./lib/jquery-ui.js"></script>        

        <script src="app.js"></script>
        <!-- -----------End-Library Files------------- -->

        <!-- ------------Controlers------------------- -->
        <script src="controllers/indexController.js"></script>
        <script src="controllers/loginController.js"></script>
        <script src="controllers/changePinController.js"></script>
        <script src="controllers/homeController.js"></script>
        <script src="controllers/contactUsController.js"></script>
        <script src="controllers/aboutController.js"></script>
        <script src="controllers/submitClaimController.js"></script>
        <!--<script src="controllers/submitClaimReceiptController.js"></script>-->
        <script src="controllers/sideMenu.js"></script>
        <script src="controllers/reviewClaimsController.js"></script>
        <script src="controllers/memberDetailsController.js"></script>
        <script src="controllers/eftController.js"></script>
        <!-- -----------End-Controlers---------------- -->

        <!-- ------------Directives------------------- -->
        <script src="directives/numberValidation.js"></script>

        <!-- ------------Services------------------- -->
        <script src="services/aboutService.js"></script>
        <script src="services/secreteKeyService.js"></script>
        <script src="services/changePinService.js"></script>
        <script src="services/submitClaimService.js"></script>
        <script src="services/utilsService.js"></script>
        <script src="services/authenticationService.js"></script>
        <script src="services/termsService.js"></script>
        <script src="services/progressService.js"></script>
        <script src="services/historyService.js"></script>

        <script type="text/javascript">
            document.addEventListener("deviceready", function(){
                navigator.splashscreen.hide();
            }, false);
        </script>
    </head>

    <body ng-app="app">
        <div ng-controller="loginController">
            <!-- ------------Popup------------------- -->
            <div class="message-action-popup" onclick="return false;">
                <div class="popup">
                    <div class="popup-header">

                    </div>
                    <div class="popup-body">
                        <div class="body-text">

                        </div>
                        <div valid-number ng-model="pinPopup" class="code-input">
                            <input ng-show="platform!='Win32NT'" class="passwordType" ng-model="credentials.validatePin" type="tel" maxlength="4"/>
                            <input ng-show="platform=='Win32NT'" ng-model="credentials.validatePin" type="password" maxlength="4"/>
                        </div>
                        <div ng-switch="popupButtonGroup" class="popup-button">
                            <div ng-switch-when='registration' >
                                <input ng-click="hidePopUp();loadLogin()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="confirmPin()" type="button" class="popup-first-button first-button-color" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when="forgotPin">
                                <input ng-click="hidePopUp();loadLogin()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="confirmPin()" type="button" class="popup-first-button first-button-color" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>

                            <div ng-switch-when="deleteReceipt">
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="NO">	
                                <input ng-click="confirmDel()" type="button" class="popup-first-button first-button-color" value="YES">
                                <div class="clearOfPopup"></div>
                            </div>

                            <div ng-switch-when="changeImg" class="receiptPopupDiv">
                                <input ng-click="hidePopUp()" type="button" class="receiptImgPopup third-button-color" value="CANCEL">	
                                <input ng-click="confirmGallery()" type="button" class="receiptImgPopup second-button-color" value="GALLERY">	
                                <input ng-click="confirmCamera()" type="button" class="receiptImgPopup first-button-color" value="CAMERA">
                                <div class="clearOfPopup"></div>
                            </div>

                            <div ng-switch-when="confirmMemDetails">
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="LATER">	
                                <input ng-click="confirmMemberDetails()" type="button" class="popup-first-button first-button-color" value="NOW">
                                <div class="clearOfPopup"></div>
                            </div>

                            <div ng-switch-when="EnterMemDetails">
                                <!--<input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="LATER">-->	
                                <input ng-click="confirmMemberDetails()" type="button" class="popup-first-button first-button-color rightMarginPopupBtn" value="NOW">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when="eftConfirm">
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="eftConfirm()" type="button" class="popup-first-button first-button-color" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when="submitClaimConfirm">
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="submitClaimConfirm()" type="button" class="popup-first-button first-button-color" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when="userExistsMsg">
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="clearLocalStorage()" type="button" class="popup-first-button first-button-color" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when="cancelClaim">
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="cancelClaimConfirm()" type="button" class="popup-first-button first-button-color" value="CONTINUE">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when="confirmCamAction">
                                <!--<input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="LATER">-->	
                                <input ng-click="confirmCamAction()" type="button" class="popup-first-button first-button-color rightMarginPopupBtn" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>
                            <div ng-switch-when='amendBankDetails' >
                                <input ng-click="hidePopUp()" type="button" class="popup-second-button second-button-color" value="CANCEL">	
                                <input ng-click="amendBnakDetails()" type="button" class="popup-first-button first-button-color" value="OK">
                                <div class="clearOfPopup"></div>
                            </div>
                        </div>
                        <div class="popup-bottom">
                        </div>
                    </div>
                </div>
                <div id="focusB" style="min-height: 2%; width: 2%; position: absolute; bottom: -0.5%;"></div>
            </div>
            <!-- -----------End-Popup------------------->

            <!-- ------------Success-Error Popup------------------- -->
            <div onclick="return false;" class="message-popup" ng-show="infoFlag">
                <div ng-show="infoFlag" class="infoPopup">
                    <div class="infoPopupHeader">
                        {{infoHeader}}
                    </div>
                    <div class="infoPopupBody">
                        <div class="infoText">
                            {{infoMessage}}
                        </div>
                        <div class="popup-button">
                            <input ng-click="hideInfoPopUp()" type="button" class="popupErrorButton first-button-color" value="OK">	
                            <div class="clearOfPopup"></div>
                        </div>
                        <div class="popup-bottom">
                        </div>
                    </div>
                </div>
                <div id="focusB" style="min-height: 2%; width: 2%; position: absolute; bottom: -0.5%;"></div>
            </div>
            <!-- -----------End Success-Error Popup------------------->
        </div>

        <!--------------Network message------------->
        <div class="network-message"><div class="closeNetworkMsg"></div><div>A network connection is required to use the application.</br>Please switch on wifi or mobile network.</div></div>
        <!--------------End Network message--------->

        <!-- ------------------Header------------------- -->
        <div id="headerHome" ng-controller="indexController" ng-init="indexInit()">
            <div class="hidden" ng-click="logout()" id="logoutAction"></div>
            <div class="hidden" ng-click="changePin()" id="changePinAction"></div>
            <div id="contactUsAction" ng-click="contactUs()" ></div>
            <div id="homeAction" ng-click="goHome()"  ></div>
            <div id="aboutAction" ng-click="about()" ></div>
            <div id="submitClaimAction" ng-click="submitClaim()" ></div>
            <div id="reviewClaimAction" ng-click="reviewClaim()" ></div>
            <div id="memberDetailsAction" ng-click="memberDetails()" ></div>
            <div id="eftAction" ng-click="showEft()" ></div>
            <a class="closeMenu" href="#closeMenu"></a>
            <div class="homeHeader" id="homeHeader">
                <a class="sliderBtn" href="#menu"></a>
                <div class="headerTxt">laya healthcare</div>
            </div>

            <!-- Terms & Conditions Popup -->
            <div class='terms-popup'>
                <div class="termsPopup">
                    <div class="termsContent">
                        <div ng-click="closeTermsPopup()" class="cross"></div>
                        <div class="termsHeader">TERMS & CONDITIONS</div>      
                        <div class="termsData" id="termsAndConditions"></div>
                    </div>
                    <input ng-click="closeTermsPopup()" type="button" class="second-button-color termsCancelBtn" value="CLOSE WINDOW">        
                </div>
                <input type="button" class="second-button-color reset-terms-popup termsCancelBtn" value="CLOSE WINDOW"> 
            </div>
            <!-- Terms & Conditions Popup -->
            
            <!-- ------------------Side Menu------------------- -->
            <div id="menu" >
                <div>
                    <div onclick="home()" class="sideMenuHeader">
                        <div class="sideMenuUpperImg"></div>
                        <div class="sideMenuUpperTxt">Welcome</div>
                    </div>
                    <ul class="sideMenu">
                        <li onclick="memberDetails()" > Member Details</li>
                        <!--<li onclick="eft()"> Bank Details</li>-->
                        <li onclick="changePin()" class="noBorder"> Change Pin</li>
                        <li class="noBorder sideMenuHeading sideMenuClaims">
                            <p class="sideMenuLogoClaims"></p>
                            <p class="sideMenuPara"> Claims</p>
                        </li>
                        <li onclick="submitClaim()"> Submit Claim</li>
                        <li onclick="reviewClaim()" class="noBorder"> Review Claims</li>
                        <li class="noBorder sideMenuGen sideMenuHeading">
                            <p class="sideMenuLogoGen"></p>
                            <p class="sideMenuPara">General</p>
                        </li>
                        <li onclick="contactUs()"> Contact Us</li>
                        <li onclick="about()"> About</li>
                        <li onclick="logout()"> Logout</li>
                    </ul>
                    <div class="sideMenuLayaLogo"></div>
                    <div id="empty-div" style="height:64%"></div>
                </div>
            </div>

            <!-- -----------------END-Side Menu---------------- -->

        </div>
        <!-- -----------------END-Header------------------- -->



        <div id='parentContainer'>
            <div id='container' class="container" ng-controller="loginController">
                <div class="homeImg">
                    <div class="homeImgTxt">Welcome</div>
                </div>
                <!-- ------------ng-view Where all the views will be loaded------------------- -->
                <div ng-view class="views"></div>
                <div class='hidden' id='setCountryCode' ng-click='loadLogin()' ></div>
            </div>
        </div>

        <!-- ------------Masking------------------- -->
        <!-- <div class="masking">
            <div class="loading"></div>
        </div> -->

        <!-- Windows related changes -->
        <div nf-if="platform != 'iOS' && platform != 'Andriod'" class="masking" onclick="return false;">
            <div class="loading"></div>
        </div>

        <div nf-if="platform == 'iOS' || platform == 'Andriod'" class="masking">
            <div class="loading"></div>
        </div>
        <!-- ------------Masking------------------- -->


        <!--    <div id="progressMasking">
                <div id="mask_progressbar">
                    <div class="progress-label">Loading...</div>
                </div>
            </div>
            <div class="blackMasking">
              <div id="focusB" style="min-height: 2%; width: 2%; position: absolute; bottom: -0.5%;"></div>
            </div>
            <div class="secondLayerBlackMasking">
            </div>-->

        <div ng-if="platform != 'iOS' && platform != 'Andriod'" onclick="return false;" id="progressMasking">
            <div id="mask_progressbar">
                <div class="progress-label">Loading...</div>
            </div>
        </div>

        <div ng-if="platform == 'iOS' || platform == 'Andriod'" id="progressMasking">
            <div id="mask_progressbar">
                <div class="progress-label">Loading...</div>
            </div>
        </div>

        <!-- <div ng-if="platform != 'iOS' && platform != 'Andriod'" onclick="return false;" class="blackMasking">
            <div id="focusB" style="min-height: 2%; width: 2%; position: absolute; bottom: -0.5%;"></div>
        </div> -->

        <!-- <div ng-if="platform == 'iOS' || platform == 'Andriod'" class="blackMasking">
            <div id="focusB" style="min-height: 2%; width: 2%; position: absolute; bottom: -0.5%;"></div>
        </div> -->

        <div ng-if="platform != 'iOS' && platform != 'Andriod'" onclick="return false;" class="secondLayerBlackMasking">
        </div>
        <div ng-if="platform == 'iOS' || platform == 'Andriod'" class="secondLayerBlackMasking">
        </div>
        <script src="./camerafix.js"></script>
        <!-- -----------End-Masking----------------- -->     
    </body>
</html>
